[Desktop Entry]
Name=Hasi
Comment=Home Assistant Interface
Exec=hasi
Icon=${SNAP}/usr/share/icons/hicolor/512x512/apps/hasi.png
Terminal=false
Type=Application
Categories=Utility;Network;
Keywords=homeassistant;smarthome;automation;iot;
StartupWMClass=hasi
StartupNotify=true
X-GNOME-UsesNotifications=true
