name: Dev CI/CD

on:
  push:
    branches:
      - dev

permissions:
  contents: write

jobs:
  test-and-deploy-widgetbook:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Run tests
        run: flutter test

      - name: Build Widgetbook (Web)
        run: flutter build web -t lib/widgetbook.dart --release --base-href /hasi/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
          publish_branch: gh-pages
